# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

**/src/info.json
**/src/environment.js


# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tailwind.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
build-storybook.log
/typings
/.nx

# System Files
.DS_Store
Thumbs.db

.angular

# reports
**/mochawesome-report/
**/cypress/
summary.json
e2e/playwright-utils/reports
e2e/playwright-utils/failures/files
ctrf/
test-results/
